.header {
  background-color: #20232a;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.upperpart {
  padding: 20px;
  text-align: center;
}

.upperpart > h1 {
  font-size: 28px;
  color: white;
  font-weight: 400;
}

.header__option {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}

.header__nav {
  padding-left: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18px;
  padding-top: 10px;
}
