.Home {
  background-color: #282c34;
  color: #ffffff;
}
.main_work {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6%;
  padding-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
}

.main_heading {
  color: #61dafb;
  text-align: center;
  margin: 0;
  font-size: 60px;
  letter-spacing: 0.01em;
  font-weight: 800;
  padding-bottom: 1%;
}

.main_work > p {
  padding-top: 10px;
  text-align: center;
  font-size: 29px;
  letter-spacing: 0.01em;
  font-weight: 200;
  padding-bottom: 3%;
}
.buttons {
  padding-top: 15px;
  text-align: center;
}
.getstarted {
  display: inline-block;
  font-size: 20px;
  background-color: #61dafb;
  color: #000000;
  padding: 10px 25px;
  cursor: pointer;
}
.getstarted:hover {
  background-color: white;
}
.taking_tutorial {
  display: inline-block;
  font-size: 20px;
  color: #61dafb;
  padding: 10px 25px;
  cursor: pointer;
}
.taking_tutorial:hover {
  color: white;
}
